/* You can add global styles to this file, and also import other style files */
.class-border
{
    border-bottom: 5px solid brown;
    margin:20px;

}
.box{
    border: 3px solid black;
    align-content: center;
}
body 
{
    margin:0;
}